{% extends "base.html.jinja2" %}

{% block body %}

<div class="container">

    <div class="well">
        <p>Hi there,</p>

        <p>The content you are looking for doesn't exist.
        Please check the source from where you came to this page.
        Just in case this is due to an error on our side,
        we have alerted the system admin,
        and will try to fix this problem as soon as possible.</p>
    </div>

</div>

{% endblock %}
