{% extends "base.html.jinja2" %}

{% block body %}



<div class="container">
	<h1 id="header" class="text-center">{{ survey.title }}</h1>

	<div class="container2">
		<div class="progress" style="height:3px">
				  <div class="progress-bar progress-bar-success" role="progressbar"
				  aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percent}}%;">
				    <!-- <small>{{percent|round|int}}% done</small> -->
				  </div>
				</div>	
			</div>
		
		<h3>The following posts have been selected from the subreddit
		<a href="http://reddit.com/r/{{data}}" target="_blank"> r/{{data}}</a> </h3>

		<p>
			For each of the posts below, please state whether you think that users of 
			<a href="http://reddit.com/r/{{data}}" target="_blank"> r/{{data}}</a>
			 will find them valuble <em>independent of the comments they receive.</em> In other words, where do you think the value of these posts lie: in the post itself or in the(potential) comments that the posts receive?
		


		<div class="form-group">
			<form action="/poll/{{id}}" >
				<input class="form-control sr-only" type="text" name="c" value="{{c}}" />
				<input class="form-control sr-only" type="text" name="subreddit" value="{{data}}" />
					<dl>
						{% for data in post_links %}
							
							{# <blockquote class="small"> #}
							<dt>					
								<a href={{data[1]['url'] if data[1]['url'] else data[0]}}
								target="_blank"> {{data[1]['title']}}</a>
								
							</dt>

							<dd>		
								<a  href={{data[0]}} target="_blank"> {{data[1]['ncomments']}} comments </a>
								{% if data[1]['author'] %}
									<span > created by {{data[1]['author']}} </span>
								{% endif %}
							</dd>
							{# </li> #}
							{# </blockquote> #}
							Where do you think the value of above post lie: in the post itself or in the(potential) comments that the posts receive?
						     <br>
							{# If you wish to use selection instead of radio uncomment this #}

						      {# <select id="sel1" name="{{data[0].split('/')[-1]}}"  value="p">
						      	<option value="" selected disabled>Please select</option>
						        <option vaue="p">Content of post</option>
						        <option value="c">Comments obtained</option>
						        <option value="n">Can't say</option>
						      </select> #}
						      <em>
						      <input type="radio" name="{{data[0].split('/')[-1]}}" value="p" > Posts
						      <input type="radio" name="{{data[0].split('/')[-1]}}" value="n" checked="true" > Can't say
						      <input type="radio" name="{{data[0].split('/')[-1]}}" value="c" > Comments
						      </em>
						    <br>
						    <br>
						{% endfor %}
					</dl>

					{# {% for e in range(1,8) %}	
						<label class="radio-inline text-center"
							style="width:80px;">
							<input type="radio" name="field" value="{{ e }}" checked="true"> {{e}}
						</label>
					{% endfor %} #}
				{# <br>

				<div class="row">
					<div class="text-center col-sm-2" style="float:left;"> <code> Posts</code> </div>
					<!-- <div class="col-sm-20"> </div> -->
					<div  style="float:right;" > <code> Comments to posts </code> </div>
				</div>

				<br>
				<!-- <button type="button" class="btn btn-primary">Next</button> -->

				<h4>Please visit <a href="https://reddit.com/r/{{data}}" target="_blank"> reddit.com/r/{{data}} </a> to checkout the subreddit </h4> #}

				
					<!-- <h3>  <span class="badge" >{{nmore}} more to go </span> </h3> -->
					<!-- <h4><span class="label label-success">{{nmore}} more to go</span></h4> -->

				

				<input type="submit" class="btn btn-primary pull-right"  value="Submit">
					<!-- <input type="submit" value="Vote" /> -->
				<!-- </div> -->
			</form>
		</div>
	</div>
</div>

{% endblock %}
