<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


	<title>Reddit Survey</title>

</head>


<body>
	<div class="container">
		
		<h1> Subreddit: r/{{ data }} </h1>
		<a href="http://reddit.com/r/{{data}}" target="_blank"> Click here to see the subreddit </a>
		<div class="form-group">
			<form action="/poll/{{id}}" >
				<input class="form-control sr-only" type="text" name="roll" value="{{roll}}" />
				<input class="form-control sr-only" type="text" name="subreddit" value="{{data}}" />


					{% for e in range(1,8) %}	
						<label class="radio-inline col-sm-1 text-center">
							<input type="radio" name="field" value="{{ e }}" checked="true"> {{ e }}
						</label>
					{% endfor %}
				<br>

				<div class="row">
					<div class="col-sm-2 "> <code> Post Based </code> </div>
					<div class="col-sm-4"> </div>
					<div class="col-sm-2 text-center" > <code> Comment Based </code> </div>
				</div>

				<br>
				<!-- <button type="button" class="btn btn-primary">Next</button> -->
				<input type="submit" class="btn btn-info pull-center"  value="Next">
				<!-- <input type="submit" value="Vote" /> -->
			</form>
		</div>
	</div>
</body>
</html>
