{% extends "base.html.jinja2" %}

{% block body %}



<div class="container">
	<h1 id="header" class="text-center">{{ survey.title }}</h1>

	<div class="container2">
		<div class="progress" style="height:3px">
				  <div class="progress-bar progress-bar-success" role="progressbar"
				  aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percent}}%;">
				    <!-- <small>{{percent|round|int}}% done</small> -->
				  </div>
				</div>	
			</div>
		
		<h3>The following posts have been selected from the subreddit
		<a href="http://reddit.com/r/{{subreddit}}" target="_blank"> r/{{subreddit}}</a> </h3>

		<p>
			For each of the posts below, please state whether you think that users of 
			<a href="http://reddit.com/r/{{subreddit}}" target="_blank"> r/{{subreddit}}</a>
			 will find them valuble <em>independent of the comments they receive.</em> In other words, where do you think the value of these posts lie: in the post itself or in the(potential) comments that the posts receive?
		


		<div class="form-group">
			<form action="/poll/{{id}}" >
				<input class="form-control sr-only" type="text" name="c" value="{{c}}" />
				<input class="form-control sr-only" type="text" name="subreddit" value="{{subreddit}}" />
					<dl>
						{% for data in post_links %}
							
							{# <blockquote class="small"> #}
							<dt>					
								<a href={{data[1]['url'] if data[1]['url'] else data[0]}}
								target="_blank"> {{data[1]['title']}}</a>
								
							</dt>

							<dd>		
								<a  href={{data[0]}} target="_blank"> {{data[1]['ncomments']}} comments </a>
								{% if data[1]['author'] %}
									<span > created by {{data[1]['author']}} </span>
								{% endif %}
							</dd>
							{# </li> #}
							{# </blockquote> #}
							Where do you think the value of above post lie: in the post itself or in the(potential) comments that the posts receive?
						     <br>
							
						      <em>
						      <input type="radio" name="{{data[0].split('/')[-1]}}" value="p" > Posts
						      <input type="radio" name="{{data[0].split('/')[-1]}}" value="n" checked="true" > Can't say
						      <input type="radio" name="{{data[0].split('/')[-1]}}" value="c" > Comments
						      </em>
						    <br>
						    <br>
						{% endfor %}
					</dl>

					
				

				<input type="submit" class="btn btn-primary pull-right"  value="Submit">
					<!-- <input type="submit" value="Vote" /> -->
				<!-- </div> -->
			</form>
		</div>
	</div>
</div>

{% endblock %}
